body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
}

.container {
  max-width: 800px;
  margin: 100px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: #4a4a4a;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  color: #4a4a4a;
  line-height: 1.5;
  margin-bottom: 10px;
}

button {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: #4a4a4a;
  padding: 15px 50px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 40px;
}

button:hover {
  background-color: #5d5bd4;
}
